@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Colors */
:root {
  --blue: #007AC2;
  --blue-light: #7ddaff;
  --blue-dark: #005191;
  --blue-darker: #040306;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
ul[class],
ol[class] {
  padding: 0;
}
html{
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
ul[class],
ol[class] {
  list-style: none;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
  text-decoration: none;
}
a:not([class]):hover {
  text-decoration: underline;
  font-weight: bold;
}
img {
  max-width: 100%;
  display: block;
}
section > * + * {
  margin-top: 1em;
}
.btn {
  font: inherit;
}
.mobile-show {
  display: none;
}
/* STYLES
---------------------------------- */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  width: 100%;
  overflow-x: hidden;
}
h2 {
  line-height: 1.5;
}
p {
  font-weight: 300;
  margin-bottom: 8px;
  line-height: 1.5;
}
section {
  margin-bottom: 2rem;
  padding: 0 1.5rem;
}
a:not([class])  {
  color: var(--blue-light);
}
.btn {
  display: inline-block;
  background: #eee;
  padding: 1rem 1.5rem;
  text-decoration: none;
}
.card {
  background: #fff;
  border-radius: 3px;
  border: 1px solid #eee;
  box-shadow: 0 1px 3px rgba(100,100,100,.5);
  padding: 1rem;
}
/* HEADER
---------------------------------- */
header {
  background: linear-gradient(180deg, black, transparent);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 1rem 1rem;
  width: 95%;
  margin: 0 auto;
}
.smi-logo {
  width: 280px;
}
.smi-logo img {
  width: 100%;
}
.event-date {
  color: #eee;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
}
/* MAIN
---------------------------------- */
#sec-hero {
  /* background: no-repeat var(--blue-darker) url(../images/header-bkg-img.jpg) center center; */
  /* background-size: cover; */
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  /* height: 75vh; */
  /* min-height: 640px; */
  /* padding: 2rem 2rem 4rem; */
}
.inner-wrapper {
  display: flex;
  flex-direction: column;
  background: #0c1115;
  color: #fff;
}
main {
  margin: 0 auto;
  max-width: 1400px;
  padding-top: 2rem;
  padding-bottom: 3rem;
}
main h2 {
  color: #fff;
  font-size: clamp(1rem, 1rem + 2vw, 2rem);
  text-align: center;
  letter-spacing: 1.5px;
  filter: drop-shadow(0 0 6px var(--blue));
}
.show-intro-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.show-intro-wrap p {
  line-height: 1.75;
}
.show-intro-wrap img {
  width: 100%;
}

/* .btn-row {
  text-align: center;
  margin: 3rem 0;
}
.btn-register {
  border: 1px solid var(--blue-light);
  padding: 1rem 3rem;
  color: var(--blue-light);
  font-size: clamp(2rem, 1.5rem + 2.5vw, 2.5rem);
  font-weight: bold;
  text-decoration: none;
  transition: .3s linear;
}
.btn-register:hover {
  background: #fff;
  color: var(--blue-dark);
} */

/* SHOW-INFO
---------------------------------- */
#show-info {
  width: 100%;
}
.show-info-wrap {
  /* background: var(--blue-darker); */
  /* border: 2px solid var(--blue-light); */
  display: flex;
  padding: 1.5rem 0rem;
  gap: 1rem;
}
.show-info-div {
  flex: auto;
  font-weight: bold;
}
.show-info-div:first-child {
  font-size: 1.5rem;
}
.show-info-div:not(:last-child) {
  border-right: 1px solid var(--blue-light);
}
.show-info-div .label {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

.show-info-div .context span {
  display: block;
  font-weight: 100;
  color: #ddd;
}
.show-info-div .context.large {
  color: #00ffff;
  font-size: clamp(1.1rem, 1.1rem + 1vw, 2rem);
  font-weight: bold;
}

/* KEYNOTES
---------------------------------- */
#keynotes {

}
#keynotes h3 {
  font-size: clamp(2rem, 1.5rem + 2.5vw, 3rem);
  text-align: center;
  filter: drop-shadow(0 0 6px var(--blue));
  letter-spacing: 1.5px;
}
#keynotes h4 {
  background: linear-gradient(to right, var(--blue-dark) 70%, var(--blue-darker));
  color: #eee;
  display: inline-block;
  font-size: clamp(1rem, 1rem + 2vw, 1.5rem);;
  padding: .25rem 3rem .25rem 1rem;
  margin-bottom: 1rem;
  transform: translateX(-1rem);
}
.keynote-row {
  display: flex;
  gap: 1rem;
  border-bottom: 1px solid #aaa;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}

.keynote-row .datetime,
.keynote-row .session,
.keynote-row .photo {
  display: flex;
  flex-direction: column;
}
/* 議程時間 */
.keynote-row .datetime {
  border-right: 1px solid var(--blue-light);
  padding-right: 2rem;
  min-width: 150px;
}
.keynote-row .datetime .date {
  font-size: clamp(2rem, 1.5rem + 2.5vw, 3rem);
  font-weight: bold;
}
.keynote-row .datetime .date span {
  font-size: 0.9rem;
  margin-left: 5px;
}
.keynote-row .datetime .time {
  font-size: clamp(1.2rem, 1rem + 1vw, 2rem);
  font-weight: bold;
}
/* 議程主題及講者 */
.keynote-row .session-info {
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 1rem;
}
.keynote-row .session {
  flex: 1;
  justify-content: space-between;
}
.session-num {
  color: var(--blue-light);
  font-weight: bold;
  font-size: 1.2rem;
}
.keynote-row .session .topic {
  font-size: clamp(1.2rem, 1rem + 1vw, 2rem);
  font-weight: bold;
}
.keynote-row .session .speaker {
  /* padding-bottom: 1rem; */
}
.keynote-row .session .speaker .speaker-name {
  font-weight: bold;
}
.keynote-row .session .speaker .speaker-title {
  font-size: 0.95rem;
  color: #ddd;
}
/* 講者照片 */
.keynote-row .photo {
  width: 280px;
  -webkit-clip-path: polygon(0 0, 80% 0%, 100% 20%, 100% 100%, 20% 100%, 0% 80%);
  clip-path: polygon(0 0, 85% 0%, 100% 15%, 100% 100%, 10% 100%, 0% 85%);
}
.keynote-row .photo img {
  aspect-ratio: 4/3;
  object-fit: cover;
}

/* CONTACT-INFO
---------------------------------- */
.contact-info-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.contact-info-item:first-child a {
  color: orange;
}
.contact-info-item {
  display: flex;
  align-items: flex-start;
}
.contact-info-item img {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

/* FOOTER
---------------------------------- */
footer {
  background: #b0d9e7;
  border-top: 1px solid var(--blue-light);
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* position: fixed;
  bottom: 0; */
  width: 100%;
  padding: 1.2rem 2%;
}
.address {
  color: #333;
  font-size: 0.95rem;
  margin-bottom: 1rem;
}
.social-links {

}
.social-links ul {
  list-style: none;
  margin: 0;
}
.social-links ul li {
  float: left;
}
.social-links ul li a {
  display: block;
  margin: 8px;
  width: 24px;
  height: 24px;
  opacity: .7;
  transition: .3s;
}
.social-links ul li a:hover {
  opacity: 1;
  transform: translateY(-2px);
}
.social-links ul li a svg{
  width: 100%;
  height: 100%;
}

@media (max-width: 990px) {
  .keynote-row {
    flex-direction: column;
  }
  .keynote-row .datetime {
    border: none;
    border-bottom: 1px solid var(--blue-light);
  }
  .contact-info-wrapper {
    display: block;
  }
  .contact-info-wrapper div {
    margin-bottom: 1rem;
  }
  footer {
    flex-direction: column;
    position: relative;
  }
}
@media (max-width: 768px) {
  .show-info-wrap {
    flex-wrap: wrap;
    gap: 0;
  }
  .show-info-div {
    flex: 1 0 50%;
    padding: .5rem 1rem;
  }
  .show-info-div:nth-child(2) {
    border-right: none;
  }
  .show-info-div:nth-child(3),
  .show-info-div:nth-child(4)  {
    border-top: 1px solid #eee;
    padding-top: 0.5rem;
  }
  .keynote-row .photo {
    width: 180px;
  }
}
@media (max-width: 640px) {
  .header-inner {
    width: 100%;
  }
  .smi-logo {
    width: 220px;
  }
  .mobile-hide {
    display: none;
  }
  .mobile-show {
    display: block;
  }
  .show-intro-wrap {
    display: block;
  }
  .show-info-div {
    display: block;
    width: 100%;
  }
  .keynote-row .datetime {
    padding-right: 1rem;
    min-width: 120px;
  }
  .keynote-row .session-info {
    flex-direction: column;
  }
  .keynote-row .photo {
    order: 1;
    align-self: flex-end;
  }
}
@media (max-width: 480px) {
  .contact-info-item {
    flex-direction: column;
  }
}